.messagingapp .col-10 {
    /* width: 80vw;
    height: 90vh; */
}

.messaginapp .discussions {
    overflow-y: auto;
    height: calc(100vh - 20px);
}

.messagingapp .discussion {
    border-bottom: 1px solid #e6e6e6;
    color: #4d4b4e;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 6.5rem;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 20px;
}

.messagingapp .discussion:hover {
    background-color: #488b212a;
}

.messagingapp .discussion.message-active {
    background-color: #64b13777;
}

.messagingapp .photo {
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: #4d4b4e; */
    margin-bottom: 2.5rem;
}

.messagingapp .photo img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-bottom: auto;
}

.messagingapp .name {
    font-weight: bold;
    margin: 0;
}

.messagingapp .time {
    color: #888888;
    font-size: 0.9rem;
}

.messagingapp .chat {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 20px);
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-bottom: 50px;
}

.messagingapp .chat .row {
    padding: 15px;
    /* background-color: #4d1212; */
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e6e6e6;
}

.messagingapp .chat .row img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.messagingapp .chat h2 {
    margin: 0 0 0 0.8vw;
    font-size: 1.25rem;
}

.messagingapp .messagechat {
    display: flex;
    margin: 15px;
    color: #4d4b4e;
}

.messagingapp .messagechat.received {
    justify-content: flex-start;
}

.messagingapp .messagechat.sent {
    justify-content: flex-end;
}

.messagingapp .bubble {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 60%;
    word-wrap: break-word;
}

.messagingapp .bubble p {
    margin: 0;
}

.messagingapp .messagechat.received .bubble {
    background-color: #f1f0f0;
    border-top-left-radius: 0;
}

.messagingapp .messagechat.sent .bubble {
    background-color: #77bf439a;
    color: #4d4b4e;
    border-top-right-radius: 0;
}

.messagingapp .chat .message-input-container {
    display: flex;
    background-color: #ffffffec;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 46%;
    flex: 1;
    overflow-y: auto;
    padding-bottom: 60px;
    /* Adjust based on input field height */
    padding: 10px;

}

.messagingapp .message-input {
    flex-grow: 1;
    border-radius: 20px;
    padding: 10px 15px;
    outline: none;
    border: 1px solid #77bf439a;
}

.messagingapp .send-button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #77bf439a;
    color: white;
    background-color: inherit;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s ease all;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.messagingapp .send-button:hover {
    border-color: #77bf43ff;
}

.messagingapp .send-button:active {
    transform: scale(1.1);
}

.messagingapp .send-button img {
    width: 30px;
    height: 30px;
    /* margin-bottom: 1rem; */
}

.messagingapp .chat h2 {
    margin: 0 0 0 2.5vw;
    font-size: 1.25rem;
}

.messagingapp .chat,
.messagingapp .back-button {
    display: none;
    /* Hide chat and back button initially on smaller screens */
}

@media only screen and (max-width:991px) {
    .messagingapp .chat .message-input-container {
        width: 53.5%;
    }

    .messagingapp .message-input {
        flex-grow: 1;
        border-radius: 20px;
        padding: 5px 15px;
        outline: none;
        border: 1px solid #77bf439a;
    }

    .messagingapp .send-button {
        width: 40px;
        height: 40px;
        margin-left: 8px;
        cursor: pointer;
        transition: 0.3s ease all;
        transition: transform 0.2s ease, background-color 0.2s ease;
    }

    .messagingapp .send-button:active {
        transform: scale(1.1);
    }

    .messagingapp .send-button img {
        width: 25px;
        height: 25px;
        /* margin-bottom: 1rem; */
    }


    .messagingapp .discussion {
        padding: 10px;
    }

    .messagingapp .photo {
        margin-bottom: 3rem;
    }

    .messagingapp .photo img {
        border-radius: 50%;
        width: 35px;
        height: 35px;
    }

    .messagingapp .name {
        font-size: 0.95rem;
    }

    .messagingapp .time {
        color: #888888;
        font-size: 0.79rem;
    }

}

@media only screen and (max-width:778px) {
    .messagingapp .discussion {

        padding: 10px;
    }


    .messagingapp .photo {
        margin-bottom: 4rem;
    }

    .messagingapp .photo img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

    .messagingapp .name {
        font-weight: bold;
        margin: 0;
    }

    .messagingapp .time {
        color: #888888;
        font-size: 0.7rem;
    }

    .messagingapp .chat h2 {
        margin: 0 0 0 4vw;
        font-size: 1.25rem;
    }

    .messagingapp .bubble {
        padding: 10px 15px;
        border-radius: 20px;
        max-width: 80%;
        word-wrap: break-word;
    }
}

@media (min-width: 600px) {
    .messagingapp .discussions {
        display: block;
    }

    .messagingapp .chat {
        display: block;
    }

    .messagingapp .back-button {
        display: none;
        /* Hide back button on larger screens */
    }

    .messagingapp .chat .col-11 {
        width: 90%;
    }

    .messagingapp .chat h2 {
        margin: 0 0 0 4vw;
        font-size: 1.25rem;
        width: 80%;
    }

    .messagingapp .discussions .discussion .col-3 {
        margin: 0;
        padding: 0;
    }

    .messagingapp .time {
        color: #888888;
        font-size: 0.8rem;
    }
}

@media (max-width: 600px) {
    .messagingapp .discussions {
        width: 80%;
        margin: auto;
        /* Make discussions take full width */
    }

    .messagingapp .chat {
        display: none;
        /* Hide chat initially */
        width: 100%;
    }

    .messagingapp .chat.active {
        display: block;
        /* Show chat when active */
    }

    .messagingapp .discussions.active {
        display: none;
        /* Hide discussions when chat is active */
    }

    .messagingapp .back-button {
        display: block;
        color: rgb(0, 0, 0);
        text-align: left;
        width: 10%;
    }

    .messagingapp .chat .message-input-container {
        width: 80%;
    }

    .messagingapp .time {
        color: #888888;
        font-size: 0.9rem;
    }


}

@media only screen and (max-width:550px) {
    .messagingapp .discussions {
        width: 100%;
        margin: auto;
        /* Make discussions take full width */
        font-size: 0.9rem;
    }
}


.discussion .message-content .name {
    font-weight: bold;
}

.discussion .message-content .last-message {
    color: green;
}

.messagechat.sent .bubble {
    background-color: #c4f0c4;
    text-align: right;
}

.messagechat.received .bubble {
    background-color: #f0f0f0;
    text-align: left;
}
